<% provide(:title, "Main") %>


<div class="jumbotron fullHeight">
  <h1><span class="green">Spencer</span><br /> <span class="grey"> Mortenson</span></h1>
<div class="container-fluid">
  <div class="row row-centered">


      <%= link_to dev_path do%>
      <div class="col-md-3 col-md-offset-2 col-centered btnMain1 fadeIn">
        Web Development
       </div>
      <% end %>




      <%= link_to personal_path do%>
    <div class="col-md-3 col-md-offset-2 col-centered btnMain1 fadeIn">
        Personal Site
    </div>
    <% end %>
  </div>
  </div>
</div>



    <% track_event("SMEntryPageView") %>

<%= render 'layouts/footer' %>
