<% require 'mixpanel-ruby' %>
<% tracker = Mixpanel::Tracker.new("e90c80e27a9f826a22f4b30be3ef8721") %>
<div class="jumbotron">
  <h1><span class="green">Spencer</span><br /> <span class="grey"> Mortenson</span></h1>

</div>
<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 topic" id="about" name="about">
      <h1>About</h1>
      <p>This site was developped to showcase my current obsessions, projects, passions..... as well as refine my web development and rails skills.<br/> The site is still under construction but please stay tuned as there will be more to come. </p>
    </div>
    <div class="col-xs-8 col-xs-offset-2 topic" id="projects" name="projects">
      <h1>Projects</h1>
      <ul>
        <li><h2><a href="http://www.realitysky.com">Reality Sky</a></h2>
          <p>Custom Written Drip Email Campaigns <br/> Currently we are looking for service industry owners to help us refine our products. Email Spencer@realitysky.com, if you'd be interested in helping us refine our email campaign system.</p> </li>
        <li><h2><a href="http://www.spencermortenson.xyz">SpencerMortenson.xyz</a></h2>
          <p>Coming soon</p></li>
      </ul>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
