$navbar-default-bg: #404040;
$navbar-border-radius: 0;
$navbar-default-link-color: #f8f8f8;
$navbar-default-link-hover-color: white;
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

@import "bootstrap-sprockets";
@import "bootstrap";
@media screen and (min-width: 980px) /* Desktop */ {
  body {

  }
}

@media screen  and (max-width: 979px) /* Tablet */ {
  body {

  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  body {

  }
}

.navbar-default li {
  font-size:1.3em;
  text-align:center;
  }
.navbar-default {
  margin:0;
  border-radius:0;
}
.brand{
  padding-top:5px;
  text-transform: uppercase;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing:-1px;
  font-weight:600;
  position: center;
}
.white{
  color:#f8f8f8;
}
.blue{
  color:#0099FF;
  font-size: 0.9em;
}

.jumbotron h1{

  text-transform: uppercase;
  text-align:center;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing:-1px;
  font-weight:bold;
}

.jumbotron .green{
  color: #00CC00;
}
.jumbotron {
margin:0;
  position:center;
}
.topic{
  padding-top: 10px;
}
.topic h1{
  text-align:center;
  border-bottom:2px #00CC00 solid;
}
.topic p{
  font-size: 1.2em;
}
.topic li {
  text-decoration:none;
  list-style:none;
  padding-left:0;
  margin-left:0;
}
.topic li a{
  text-decoration:none;
  color:#0099FF;
  border-bottom:2px #A0A0A0 solid;

}
.topic li a:hover{
  color: #00CC00;
}

.sticky {
    position:fixed;
    top:0;
}
.foot {
  background-color: #F0F0F0;
  width: 100%;
  position:center;
}
.footer{
  padding-top:20px;

}

