$navbar-default-bg: #404040;
$navbar-border-radius: 0;
$navbar-default-link-color: #f8f8f8;
$navbar-default-link-hover-color: white;
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

@import "bootstrap-sprockets";
@import "bootstrap";

.fullHeight{
  height:100vh;


}
.btnMain{
  text-align:center;

}
.btnMain1{


  border: 5px solid #00CC00;
  border-radius:2em;

  margin-top:70px;
  text-decoration:none;
  vertical-align: middle;
  line-height: 90px;
  font-size: 1.2em;
  text-transform:uppercase;
  background-color:#0099FF;
  text-align:center;
  color:#e5e5e5;

}
.btnMain1:hover{
  border: 5px solid #0099FF;
  background-color:#00CC00;
}
.smjumbo{
   height:100px;
   align:center;
   margin:0 auto;
}
.jumbotron h2{
  text-align:center;
  font-size:2em;
  text-transform:uppercase;
}
.navbar-default li {
  font-size:1.3em;
  text-align:center;
  }
.navbar-default {
  margin:0;
  border-radius:0;
}
.brand{
  padding-top:5px;
  text-transform: uppercase;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing:-1px;
  font-weight:600;
  position: center;
}
.white{
  color:#f8f8f8;
}
.blue{
  color:#0099FF;
  font-size: 0.9em;
}

.jumbotron h1{

  text-transform: uppercase;
  text-align:center;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing:-1px;
  font-weight:bold;
}

.jumbotron .green{
  color: #00CC00;
}
.jumbotron {
margin:0;
  position:center;
}
.topic{
  padding-top: 10px;
}
.topic h1{
  text-align:center;
  border-bottom:2px #00CC00 solid;
}
.topic p{
  font-size: 1.2em;
}
.topic li {
  text-decoration:none;
  list-style:none;
  padding-left:0;
  margin-left:0;
}
.topic li a{
  text-decoration:none;
  color:#0099FF;
  border-bottom:2px #A0A0A0 solid;

}
.topic li a:hover{
  color: #00CC00;
}

.sticky {
    position:fixed;
    top:0;
}
.foot {
  background-color: #F0F0F0;
  width: 100%;
  position:center;
}
.footer{
  padding-top:20px;

}

.fixed {
	position: fixed;
	top: 0;
  width:100%
  
}
.service{
  border:3px solid #00CC00;
  text-align:center;
  border-radius: 2em;
margin-top:50px;
  margin-bottom:50px;
}
.service h1{
  font-size:1.5em;
}
.devimage{
  text-align:center;
  align:center;
}
.colimage{
  height:200px;

}
@media screen and (min-width: 980px) /* Desktop */ {
  body {

  }
}

@media screen  and (max-width: 979px) /* Tablet */ {
  body {

  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  body {
    .btnMain1{


  border: 3px solid #00CC00;
  margin-top:70px;

  font-size: 0.8em;
  text-decoration:none;
}

  }
  .smjumbo{
    height:75px;

  }
  .jumbotron h2{
  font-size:1.5em;

}
}

