<div class="container foot" >
  <div class="footer">
    <small>
      Copyright &copy; <a href="http://www.spencermortenson.com">SpencerMortenson.com</a>
      by Spencer Mortenson
    </small>
    <nav>
      <ul>

      </ul>
    </nav>
  </div>
</div>