<div class="jumbotron">
  <h1><span class="green">Spencer</span><br /> <span class="grey"> Mortenson</span></h1>
  <h2 class="blue fadeIn">Web Development</h2>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container navAnimate">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-target">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'fadeReload' do%>
        <span class="navbar-brand brand"><span class="white">Spencer</span><br/ ><span class="blue"> Mortenson
          </span></span>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-target">
        <ul class="nav navbar-nav">
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
      </div><!-- /.navbar-collapse -->
     </div>
 </nav>