<div class="jumbotron">
  <div style="width:100%; text-align:center;"><%= image_tag("SMLogo.png", :alt => "SM", :class => "smjumbo text-center") %></div>
  <div style="width:100%; text-align:center; height:50px;"><h2 class="blue fadeIn">Web Development</h2></div>
</div>

<nav class="navbar navbar-default" style="z-index:9;" role="navigation">
    <div class="container navAnimate">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-target">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'fadeReload' do%>
        <span class="navbar-brand brand"><span class="white">Spencer</span><br/ ><span class="blue"> Mortenson
          </span></span>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-target">
        <ul class="nav navbar-nav">
          <!--<li><a href="#about">About</a></li>-->
          <!--<li><a href="#projects">Projects</a></li>-->
      </div><!-- /.navbar-collapse -->
     </div>
 </nav>