<!DOCTYPE html>
<html>
<head>
  <title>Spencermortenson</title>

  <meta name="description" content="A site dedicated to my obsessions.">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>
<body>
<% require 'mixpanel-ruby' %>
<% tracker = Mixpanel::Tracker.new("e90c80e27a9f826a22f4b30be3ef8721") %>

<%= yield %>

</body>

</html>
